* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* #map {
  height: 93vh;
  border: 2px solid #0a0;
} */

.leaflet-container {
  /* height: 100vh; */
  height: calc(100vh - 30px);
  /* border: 2px solid #0a0; */
}

#buttons {
  display: flex;
  height: 30px;
  gap: 10px;
  /* justify-content: center; */
  align-items: center;
}

#buttons button {
  min-width: 50px;
  height: 24px;
  padding: 0 5px;
}
